<samples>
  <configuration>
    <appSettings>
      <add key="samplekey1" value="samplevalue1" />
      <add key="samplekey2" value="samplevalue2" />
    </appSettings>

    <connectionStrings>
      <add name="ConnectionStringName1" connectionString="ConnectionStringValue1" />
      <add name="ConnectionStringName2" connectionString="ConnectionStringValue2" />
    </connectionStrings>
  </configuration>
  <configuration>
    <appSettings>
      <add key="samplekey1" value="samplevalue1" />
      <add key="samplekey2" value="samplevalue2" />
    </appSettings>
  </configuration>
  <configuration>
    <connectionStrings>
      <add name="ConnectionStringName1" connectionString="ConnectionStringValue1" />
      <add name="ConnectionStringName2" connectionString="ConnectionStringValue2" />
    </connectionStrings>
  </configuration>
</samples>
